Data/*.csv
Data/*.parquet

.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.env
*.key
*.pem
*.pfx
appsettings.*.local.json

/API/TaxiBoard/wwwroot/
*.db
*.sqlite
*.mdf
*.ldf
Migrations/

bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates